<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration debug="true" xmlns:log4j='http://jakarta.apache.org/log4j/'>
 
<!--  console apender -->
 
 <appender name="ConsoleAppender" class="org.apache.log4j.ConsoleAppender">
       <layout class="org.apache.log4j.PatternLayout">
          <param name="ConversionPattern" value="%m%n"/>
       </layout>
  </appender>
 
<!--  File Appender -->
 
  <appender name="fileAppender" class="org.apache.log4j.DailyRollingFileAppender">
    <param name="File" value="/opt/logs/merc_efiling.log"/>
<!--     <param name="MaxFileSize" value="25MB"/> -->
    <layout class="org.apache.log4j.PatternLayout">
    <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} [%t] %m%n" />
    </layout>
  </appender>
 
<!--  file appender for error -->
 
 <appender name="error-log" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="Append" value="true" />
        <param name="File" value="/opt/logs/merc_efiling_error.log" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss}  | %-5p | (%F:%L) - %m%n" />
        </layout>
        <filter class="org.apache.log4j.varia.LevelRangeFilter">
            <param name="LevelMin" value="warn" />
            <param name="LevelMax" value="fatal" />
            <param name="AcceptOnMatch" value="true" />
        </filter>
    </appender>
 
<!--  file appender for sending email -->

 <appender name="error-mailAppender" class="com.nic.cerc.util.LogConfig">
    <param name="BufferSize" value="512" />
<!--         <param name="SMTPProtocol" value="smtp" /> -->
        <param name="SMTPHost" value="mail.xangarsinfra.com" />
        <param name="smtpPort" value="587" />
        <param name="SMTPUsername" value="merc@xangarsinfra.com " />
        <param name="SMTPPassword" value="MERC@123#" />
        <param name="useStartTLS" value="false"/>
        <param name="From" value="merc@xangarsinfra.com" />
        <param name="To" value="xangars.aniketr@xangarsinfra.com"/>
<!--         s.manish@xangars.com,e.afreen@xangars.com,k.shardul@xangars.com, -->
        <param name="Subject" value="Exception Notification" />
    
     	<filter class="org.apache.log4j.varia.LevelRangeFilter">
            <param name="LevelMin" value="error" />
            <param name="LevelMax" value="fatal" />
            <param name="AcceptOnMatch" value="true" />
        </filter>
    
    <layout class="org.apache.log4j.PatternLayout">
    <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss}  %m%n" />
    </layout>
  </appender>
 
  <root>
    <priority value ="info"/>
    <appender-ref ref="fileAppender"/>
    <appender-ref ref="ConsoleAppender"/>
    <appender-ref ref="error-log"/>
    <appender-ref ref="error-mailAppender"/>
  </root>
 
</log4j:configuration>