@charset "utf-8";

* {
	padding: 0;
	margin: 0;
	outline: none;
	border: none
}

*, *:after, *:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box
}

html {
	font-family: OpenSans;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%
}

header, section, nav, footer, article {
	display: block
}

body {
	font-family: Arial, Helvetica, sans-serif;
	line-height: 1;
	background: rgb(255, 255, 255);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover
}

a {
	text-decoration: none
}

.banner {
	
}

.left_area {
	
}

.right_area {
	
}

.mid_area {
	
}

.content_area {
	padding: 10px 0 0 0;
	float: left
}

.content_area p {
	font-size: 12px;
	color: rgb(84, 84, 84);
	text-align: justify;
	line-height: 20px;
	padding: 0 0 5px 0
}

.content_area .httext {
	font-size: 15px;
	color: rgb(21, 52, 135);
	line-height: 24px;
	font-weight: 600
}

.right_area.last img {
	float: left;
	margin: 0 0 0 20px
}

.con-box {
	width: 400px;
	background: rgba(255, 255, 255, 0.6);
	margin: 0 auto;
	padding: 20px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	-webkit-border-radius: 5px
}

.conus-text {
	background: url(../images/con_icon.png) left center no-repeat;
	color: rgb(21, 52, 135);
	line-height: 57px;
	background-position: -7px 0px;
	padding: 0 0 0 54px;
	margin: 0;
	font-weight: bold
}

.con-box p {
	font-size: 12px;
	font-weight: bold;
	line-height: 22px
}

.s_httext {
	color: rgb(21, 52, 135);
	text-decoration: underline;
	font-size: 12px;
	line-height: 30px;
	font-weight: bold
}

.con-box p.red {
	color: #880203
}

.content_area ul {
	list-style-type: circle
}

.content_area ul li {
	font-size: 12px;
	font-weight: normal;
	line-height: 18px;
	display: block;
	color: rgb(84, 84, 84);
	padding: 5px 0 5px 10px
}
/* CSS Document */
.onepcssgrid-1000, .onepcssgrid-1200 {
	margin: 0 auto;
	padding: 0 0 0 1%
}

.onepcssgrid-1200 {
	max-width: 1220px
}

.onepcssgrid-1000 {
	max-width: 1020px
}

.onerow {
	clear: both;
	padding: 0 10px
}

.col1, .col2, .col3, .col4, .col5, .col6, .col7, .col8, .col9, .col10,
	.col11, .col12 {
	float: left;
	margin: 0 2% 0 0
}

.col1.last, .col2.last, .col3.last, .col4.last, .col5.last, .col6.last,
	.col7.last, .col8.last, .col9.last, .col10.last, .col11.last, .col12 {
	margin: 0
}

.col1 {
	width: 5.5%
}

.col2 {
	width: 14%
}

.col3 {
	width: 22.5%
}

.col4 {
	width: 31%
}

.col5 {
	width: 39.5%
}

.col6 {
	width: 48%
}

.col7 {
	width: 56.5%
}

.col8 {
	width: 65%
}

.col9 {
	width: 73.5%
}

.col10 {
	width: 82%
}

.col11 {
	width: 90.5%
}

.col12 {
	width: 99%;
	margin: 0
}

.col1 img, .col2 img, .col3 img, .col4 img, .col5 img, .col6 img, .col7 img,
	.col8 img, .col9 img, .col10 img, .col11 img, .col12 img {
	width: 100%;
	height: auto;
	display: block
}

.col1 .logo img, .col2 .logo img, .col3 .logo img, .col4 .logo img,
	.col5 .logo img, .col6 .logo img, .col7 .logo img, .col8 .logo img,
	.col9 .logo img, .col10 .logo img, .col11 .logo img, .col12 .logo img {
	width: 100px;
	height: 102px
}

@media all and (min-width: 1024px) {
	.onepcssgrid-1000 {
		max-width: 1000px
	}
	.onepcssgrid-1000 .onerow {
		padding: 0
	}
}

@media all and (max-width: 768px) {
	.onerow {
		
	}
	.col1, .col2, .col3, .col4, .col5, .col6, .col7, .col8, .col9, .col10,
		.col11 {
		float: none;
		width: 99%
	}
	.right_area.last img {
		float: left;
		margin: 0
	}
}

@media all and (max-width: 480px) {
	.con-box {
		width: 100%
	}
}

@media all and (max-width: 320px) {
}

@media all and (max-width: 240px) {
}
/* END ONE PIXEL CSS FOR RESPONSIVE */